header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #ff786c;
    border: 3px solid #ffffff;
    padding: 20px;
}

body {
    background-color: #ffc793dc;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa16eae;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 15px;
    margin: 10px 300px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    color: #ff3e3e;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    -webkit-text-stroke: 0.5px white;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: #ff6363;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

p{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    margin: 10px;
}

@media (max-width: 480px){

    header {
        font-size: 12px;
        padding: 10px;  
    }

    nav {
        flex-direction: flex;
        margin: 10px auto;
        width: 70%;
        padding: 10px;
        border-radius: 8px;
    }

    p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    a {
        font-size: 13px;
        margin: 5px;
        padding: 7px;
    }

}